.icon-picker-list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	padding-left: 0;
	padding-right: 5px;
	max-height:200px;
	overflow-y:scroll;
	justify-content:space-between;
}

.icon-picker-list li {
   width: 16%;
   margin-bottom:5px;
}

.icon-picker-list a {
	background-color: #f9f9f9;
	border: 1px solid #fff;
	color: black;
	display: block;
	flex: 1 1 auto;
	font-size: 12px;
	line-height: 1.4;
	min-height: 100px;
	padding: 10px;
	text-align: center;
	user-select: none;
}

.icon-picker-list a:hover,
.icon-picker-list a.active{
	background-color: #009E49;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.icon-picker-list .fa {
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.icon-picker-list .name-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}
#change-icon{
   
}